@{
    ViewData["Title"] = "IP";
}

<div class="text-center">
    <h1 class="display-4">ОПРЕДЕЛЕНИЕ IP</h1>
    
    <h2>IP: @this.Context.Response.HttpContext.Connection.RemoteIpAddress</h2>
    
</div>
