@{
    ViewData["Title"] = "Начальная страница";
}

<div class="text-center">
    <h1 class="display-4">Это главная страница</h1>
    <p>Переход на внешний ресурс <a href="https://translate.yandex.ru/">Яндекс переводчик</a></p>
</div>
